*{
	font-family: 'Open Sans', Helvetica Neue, sans-serif;
}

html, body{
	background-color:rgb(241,242,244);
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

header {
	position: relative;
	text-align: center;
	width:100%;
	padding: 50px 0 50px 0;
}

header img {
	width: 200px;
  	height: 115px;
}

header div.label {
	font-size: 18px;
	color:rgb(66,74,122);
}

section.outter {
	position: relative;
	width:400px;
	padding:50px 0;
	margin: auto auto;
	text-align: center;
	border-bottom: solid #CBCFD6 1px;
	border-top: solid #CBCFD6 1px;
}

div.content {
	position: relative;
	background-color: #FFF;
	width:100%;
	padding: 50px 50px;
	margin: auto auto;
	text-align: center;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
}

/* 82 210 176 */
div.content #new_notification_label { font-weight: 400; font-size: 20px; margin:0;}
div.content a#accept_request {
	text-align: center;
	background-color: rgb(82,210,176);
	padding: 5px 80px;
	width: 100%;
	color: #FFF;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	text-decoration: none;
}
div.content .notification {
	padding: 50px 0;
	line-height: 30px;
	font-size: 18px;
}
div.content #notification_user {
	text-decoration: underline;
}
footer {
	position: relative;
	text-align: center;
	width:100%;
	padding: 30px 0 50px 0;
}

footer ul.socials { list-style-type: none; margin:0; padding: 0;}
footer ul.socials li { display: inline;}
footer ul.socials li a { text-decoration: none;}
footer ul.socials li img { width:50px; height:50px;}

@media only screen and (max-width: 768px){
	*{
		font-family: 'Open Sans', Helvetica Neue, sans-serif;
	}

	html, body{
		background-color:rgb(241,242,244);
		width:100%;
		height:100%;
		margin:0;
		padding:0;
	}

	header {
		position: relative;
		text-align: center;
		width:100%;
		padding: 50px 0 50px 0;
	}

	header img {
		width: 150px;
	  	height: 80px;
	}

	header div.label {
		font-size: 18px;
		color:rgb(66,74,122);
	}

	section.outter {
		position: relative;
		width: 95%;
		padding: 0;
		margin: auto auto;
		text-align: center;
		border-bottom: none;
		border-top: none; 
	}

	div.content {
		position: relative;
		background-color: rgb(241,242,244);
		width:100%;
		padding: 50px 50px;
		margin: auto auto;
		text-align: center;
		border-bottom: solid #CBCFD6 1px;
		border-top: solid #CBCFD6 1px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
	}

	/* 82 210 176 */
	div.content #new_notification_label { font-weight: 400; font-size: 20px; margin:0;}
	div.content a#accept_request {
		text-align: center;
		background-color: rgb(82,210,176);
		padding: 5px 80px;
		width: 100%;
		color: #FFF;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		text-decoration: none;
	}
	div.content .notification {
		padding: 50px 0;
		line-height: 30px;
		font-size: 18px;
	}
	div.content #notification_user {
		text-decoration: underline;
	}
	footer {
		position: relative;
		text-align: center;
		width:100%;
		padding: 30px 0 50px 0;
	}

	footer ul.socials { list-style-type: none; margin:0; padding: 0;}
	footer ul.socials li { display: inline; padding: 0 5px;}
	footer ul.socials li a { text-decoration: none;}
	footer ul.socials li img { width: 40px; height: 40px;}
}